doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src ="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/zepto.js")    
    script(src="/javascripts/paper-copy.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="/javascripts/chatPortal.js")
    
  body
    block content
